@(entryForm: Form[EntryFormData], id: Long = 0)(implicit messages: Messages)
@import helper._



@main("Budgetron 1.0") {
    <h2> Fill out the form for a new budget entry</h2>

     @form(action = if (id !=0) routes.Application.updateEntry(id) else routes.Application.addEntry()) {
        @inputText(entryForm("amount"), '_showConstraints -> false, '_label -> "Amount:")
        @inputText(entryForm("description"), 'size->50, '_showConstraints -> false, '_label -> "Description:")
        @inputRadioGroup(
            entryForm("transaction"),
            Seq("-1"->"Debit", "1"->"Credit"),
            '_label -> "Type of Entry",
            '_showConstraints->false)

        <input type="submit" title="Go!" value="Submit"  />
    }
<p></p>
    @form(action = routes.Application.deleteEntry(id)) {
        <input type="submit" title="Delet this" value="Delete"  />
    }
}