@(entries: Seq[(Entry, Category)])
@import java.text.DecimalFormat; val formatter = new DecimalFormat("#,###.00")

@main("Budgetron 1.0") {

<h2>Grand Total: @formatter.format(entries.map(e=>e._1).foldLeft(0.0){(z, i) => z + i.amount})</h2>
    <button type="button"
    onclick="document.getElementById('demo').innerHTML = Date()">
        Click me to display Date and Time.</button>

    <p id="demo"></p>
    <form action=@routes.Application.defineNewEntry>
        <input type="submit" value="Create New Entry">
    </form>

    <form action=@routes.Application.defineNewCategory>
        <input type="submit" value="Create New Category">
    </form>
    
    <fieldset>
        <legend align="center"><h3>All Entries</h3> </legend>
        <table cellspacing="20" align="center">
            <tr>
                <th>Edit</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
                <th>Timestamp</th>
            </tr>
            @for(entry <- entries) {
                <tr>
                    <td><a href="@routes.Application.edit(entry._1.id)">Edit</a></td>
                    <td>@formatter.format(entry._1.amount)</td>
                    <td>@entry._1.description</td>
                    <td>@entry._2.name</td>
                    <td>@entry._1.entry_time</td>
                </tr>
            }
        </table>
    </fieldset>

}
