@(entryForm: Form[EntryFormData], categories: Seq[Category], id: Long = 0)(implicit messages: Messages)
@import helper._



@main("Budgetron 1.0") {
    <h2> Fill out the form for a new budget entry</h2>

     @form(action = if (id !=0) routes.EntryController.updateEntry(id) else routes.EntryController.addEntry()) {
        @inputText(entryForm("amount"), '_showConstraints -> false, '_label -> "Amount:")
        @inputText(entryForm("description"), 'size->50, '_showConstraints -> false, '_label -> "Description:")
        @select(entryForm("category"), options = categories.map(c=>c.id.toString->c.name), '_label -> "Category:", '_showConstraints -> false)
        @inputRadioGroup(
            entryForm("transaction"),
            Seq("-1"->"Debit", "1"->"Credit"),
            '_label -> "Type of Entry:",
            '_showConstraints->false)

        @if(id != 0) {
            <input type="submit" formaction=@routes.EntryController.deleteEntry(id) value="Delete" />
        <br><br>
        }

        <input type="submit" value="Submit"  />
    }

}